{% extends "base.html" %}

{% block content %}

<!-- Link to CSS File -->
{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% load playlist_loading %}
      <div class="jumbotron b" >
        <img src="{{playlist|playlist_photo}}"></img>
            <p1>By: {{playlist|playlist_owner}}</p1><br>
      </div>

    <table>
    <tr>
    <td>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Track Title</th>
                </tr>
            </thead>
            <tbody> 
                {% for name in playlist|playlist_tracks %}
                    <tr>       
                        <td> {{name}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </td>
    <td>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Artist</th>
                </tr>
            </thead>
            <tbody> 
                {% for name in playlist|track_artist %}
                    <tr>       
                        <td> {{name}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </td>
    <td>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Album</th>
                </tr>
            </thead>
            <tbody> 
                {% for name in playlist|track_album %}
                    <tr>
                    <td>
                      {{name}}
                    </td>     
                    </tr>              
                {% endfor %}
            </tbody>
        </table>
    </td>
</table>

{% endblock %}