{% extends "base.html" %}

{% block content %}
<h1> Featured Playlists: </h1>
<div class ="flex-container">
{% for playlist in featured_playlists %}
    {% load playlist_loading %}
      <div class="jumbotron">
            <img src="{{playlist|playlist_photo}}"></img>
            <a href = "{{playlist|playlist_id}}" class = "topic" <p2>{{playlist|playlist_name}} </p2><br> </a>
            <p1>By: {{playlist|playlist_owner}}</p1><br>
      <a href="#"><div class="glyphicon glyphicon-heart"></div></a>
      </div>
{% endfor %}
</div>
{% endblock %}
